@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>
        Another one check of tests
        Another one check of tests
        And another one gone and another one gone
        Another one check of tests
        Hey I'm gonna get you too
        Another one check of tests
    </h2>
</div>
